@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "/src/style.scss";

#nav{
    width: 100%;
    height:max-content;
    display: flex;
    background:$color-bg;
    align-items: center;
    justify-content: space-between;
    margin-top:2rem;
    @include tablet(){
        margin-top:0;
        padding:1rem;
    }

    @include mobile(){
        display: none;
    }

    .nav-left{
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-white;
        flex:1.5;
        display: flex;
        justify-content: space-between;
        z-index: 100;    
        @include tablet() {
            background:$color-bg;
            padding:0.7rem 1.5rem 0.7rem 2rem;
            color:white;
            font-size: 1.5rem;
        }                       
        
        .nav-logo{
        }

        .toggle-icon{
            color:white;
            font-weight: bold;
            display: none;
            @include tablet() {
                display: inline-block;
            }                       
        }
        
    }
    
    .links-container{
        display: flex;
        gap:3rem;
        flex:5;
        justify-content: flex-end;
        @include laptop() {
            gap:1.6rem;
        }                       
        @include tablet() {
            display: none;
        }                       
    
        
        .nav-link{
            padding: 0.3rem 0.9rem;
            color: $color-white;
            display: flex;
            transition: $transition;
        
            &:hover{
                color:$color-light;
            }

        }
        .active{
            color: $color-primary;
        }

        #contact-link{
            border: 1px solid white;
            border-radius: 0.5rem;
            &.active{
                color:$color-primary;
                border-color: $color-primary;
            }
        }
    }

    .toggle-links-container{
        display: flex;
        gap:2rem;
        padding: 7rem 2rem 3rem;
        width:100%;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top:0;
        height:max-content;
        font-size: 1.5rem;
        background: black;
        border-bottom: 1px solid $color-light;
        
        .nav-link{
            color:$color-white;
        }
    }
}

#mobile-nav{
    height:max-content;
    padding:1rem 2.5rem;
    border:1px solid $color-light;
    width:75%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin:0 auto;
    border-radius: 4rem;
    position: fixed;
    background: rgba(37, 17, 62, 0.3);
    // background: ;
    bottom:5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    backdrop-filter: blur(10px);
    display: none;
    
    .nav-link{
        color:$color-light;

        // &:hover{
        //     color:$color-light;
        // }
    }

    .active{
        color: $color-primary;
    }
    @include mobile(){
        display: flex;
    }
   
}